#main{
  .kv-wrapper{
    display: flex;
    justify-content: center;
    background-image: url(/asset/fv.png);
    background-size: cover;
    background-position:center;
    max-width: 100%;
    height: auto;
    padding-top:196px;
    padding-bottom: 86px;

    .kv-content{
      
      .kv-copy{
        font-size: 4.8rem;
        font-weight: bold;
        color: #FFF;
      }
    

      .kv-copy-sub{
        font-size: 1.8rem;
        color: #FFF;
        text-align: center;
        line-height: 1.7;
        margin-top: 28px;
        opacity: 0.8;
      }
    }
  }
}
