html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family:
    "Yu Gothic",
    "游ゴシック",
    YuGothic,
    "游ゴシック体",
    "ヒラギノ角ゴ Pro W3",
    "メイリオ",
    sans-serif;
  color: #1b2224;
}

img {
  max-width: 100%;
  height:auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section.anchor {
  display: block;
  padding-top: 70px;
  margin-top: -70px;
}

.section-wrapper{
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.section-ttl {
  font-size: 3.6rem;
  font-weight: bold;
}


