#header {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #FFF;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  z-index: 1000;

  .header-inner{
    width: 100%;
    display: flex;
    align-items: center;

    h1{
      margin-right: 28px;
      width: 136px;
      height: 27px;
      display: flex;
      align-items: flex-end;
    }

    h1>img{
      object-fit: cover;
    }

    .header-nav{
      width: 100%;
      display: flex;
      justify-content: space-between;

      .nav-list{
        display: flex;
        align-items: center;

        li{
          margin-right: 28px;
        }

        li>a{
          line-height: 1.8;
          font-size: 16px;
          color:$font-color1;
          font-weight: bold;
        }
      }

      .nav-list-r{
        display: flex;
        align-items: center;

        li:nth-child(1){  
          text-align: right;
          margin-right: 23px;

          p:nth-of-type(1){
            font-size: 12px;
            line-height: 1.2;
            margin-bottom: 10px;
          }
          
          p:nth-of-type(2){
            font-size: 16px;
            font-weight: bold;
            line-height: 1.6;

            i{
              margin-right: 2px;
            }
          }
        }

        li:nth-child(2),
        li:nth-child(3){
          border-radius: 5px;
        }

        li:nth-child(2){
          background-color:$btn-color;
          margin-right: 10px;
        }

        li:nth-child(3){
          background-color: $main-color;
        }

        li>a{
          width: 137px;
          height: 50px;
          display: block;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          line-height: 1.7;
          color: #FFF;
          font-weight: bold;
        }
      }
    }
  }

  .nav-wrapper{
    display: flex;
    justify-content: space-between;
  }
}