#header {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #FFF;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  z-index: 1000;

  .header-inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1{
      margin-right: 28px;
      width: 136px;
      height: 27px;
      display: flex;
      align-items: flex-end;
      z-index: 10;
    }

    h1>img{
      object-fit: cover;
    }

    .nav-wrapper{
      width: 100%;

      @include tablet {
        /*---- フェードインの場合は有効に ----*/
        /* opacity: 0; */
        width: 40vw;
        height: 100vh;
        position: fixed;
        top:0;
        right:-120%;
        background-color: #FFF;

        /*---- フェードインの場合は無効に ----*/
        transition: all 0.6s;
      }

      .header-nav{
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include tablet{
          display: block;
          margin-top: 80px;
          overflow: hidden;
        }

        .nav-list{
          display: flex;
          align-items: center;

          @include tablet{
            display: block;
          }

          li{
            margin-right: 28px;

            @include tablet{
              margin-left: 20px;
              position: relative;
              left:-120%;
            }
          }

          li>a{
            line-height: 1.8;
            font-size: 1.6rem;
            color:$font-color1;
            font-weight: bold;

            @include mobile{
              font-size: 1.6rem;
            }

            @include tablet{
              font-size: 2.8rem;
            }
          }
        }

        .nav-list-r{
          display: flex;
          align-items: center;

          @include mobile{
            justify-content: center;
          }

          @include tablet{
            width: 100%;
            flex-direction: column;
            position: relative;
            left:-120%;
            margin-top: 40px;
          }

          li:nth-child(1){  
            text-align: right;
            margin-right: 23px;

            @include mobile{
              display: block;
              text-align: center;
            }

            @include tablet{
              order: 2;
              margin-top: 20px;
              display: flex;
              align-items: center;
              justify-content: space-around;
              margin-right: 0;
              width: 100%;
            }

            p:nth-of-type(1){
              font-size: 12px;
              line-height: 1.2;
              margin-bottom: 10px;

              @include tablet{
                margin-bottom: 0;
              }
            }
            
            p:nth-of-type(2){
              font-size: 16px;
              font-weight: bold;
              line-height: 1.6;

              i{
                margin-right: 2px;
              }
            }
          }

          li:nth-child(2),
          li:nth-child(3){
            border-radius: 5px;

            @include tablet{
              width: 80%;
              margin-top: 20px;
            }
          }

          li:nth-child(2){
            background-color:$btn-color;
            margin-right: 10px;

            @include tablet{
              margin-right: 0;
              order: 0;
            }
          }

          li:nth-child(3){
            background-color: $main-color;
            order: 1;
          }

          li>a{
            width: 137px;
            height: 50px;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            line-height: 1.7;
            color: #FFF;
            font-weight: bold;

            @include  tablet{
              width: auto;
            }
          }
        }
      }
    }

    .nav-fadein {

      @include tablet{
        right: 0;
      }
    }

    .text-slidein{
      animation:slideIn 1s ease forwards;
    }
    @keyframes slideIn {

      100% {
        left:0%;
      }
    }

    .nav-item1{
      animation-delay: 0.3s;
    }
    .nav-item2 {
      animation-delay: 0.6s;
    }
    .nav-item3 {
      animation-delay: 0.9s;
    }
    .nav-item4 {
      animation-delay: 1.2s;
    }
    .nav-list-r{
      animation-delay: 1.5s;
    }
  }

  .burger-btn {
    display: none;

    @include tablet{
      display: block;
      width: 39px;
      height: 39px;
      position: relative;
      z-index: 3;
    }
  }

  .bar {
    width: 25px;
    height: 2px;
    display: block;
    position: absolute;
    transform: translateX(-50%);
    background-color: #000;
    transition: transform .3s;
  }

  .bar_top {
    top: 10px;
  }

  .bar_mid {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .bar_bottom {
    bottom: 10px;
  }

  .burger-btn.close .bar_top {
    transform: translate(-50%, 10px) rotate(45deg);
    transition: transform .3s;
    background-color: $main-color;
  }

  .burger-btn.close .bar_mid {
    opacity: 0;
    transition: opacity .3s;
    background-color: $main-color;
  }

  .burger-btn.close .bar_bottom {
    transform: translate(-50%, -7px) rotate(-45deg);
    transition: transform .3s;
    background-color: $main-color;
  }
}